# 10/7, 10/14, 9/23 여의도 데이터

In [1]:
import pandas as pd

In [ ]:
hdong2 = pd.read_csv('feature_scaled_data/hdong_2.csv')
hdong2.set_index('행정동코드', inplace=True)

In [3]:
oct_1007 = pd.read_csv('datas/od_20231001_15/od_20231007_1.csv')
oct_1007

,origin_hdong_cd,dest_hdong_cd,date,start_time,end_time,gender,age,modal,origin_purpose,dest_purpose,od_dist_avg,od_duration_avg,od_cnts
0,1135064000,1135069500,20231007,19:00,19:00,1,2,0.0,4.0,4,11015,16,17
1,5013061000,5013031000,20231007,15:00,16:00,0,4,0.0,5.0,5,43766,38,7
2,3611052000,3611038000,20231007,10:00,13:00,0,1,0.0,0.0,4,42424,194,7
3,4111158000,4111568000,20231007,16:00,16:00,0,4,0.0,0.0,0,2999,3,6
4,4315025000,4315056000,20231007,14:00,14:00,1,0,1.0,4.0,0,13222,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553364,4136051000,4136053000,20231007,15:00,16:00,0,1,1.0,0.0,4,15824,21,5
3553365,2671025900,2635061000,20231007,21:00,22:00,1,5,1.0,5.0,5,28611,52,5
3553366,4785025600,4719058300,20231007,12:00,12:00,1,4,0.0,0.0,4,17722,24,5
3553367,2818576100,2818576300,20231007,19:00,19:00,0,1,0.0,0.0,0,1348,1,5
3553368,1159064000,1168066000,20231007,17:00,20:00,0,6,0.0,3.0,0,51668,149,5

In [17]:
oct_1007_orhcd = oct_1007.groupby(['origin_hdong_cd'])['od_cnts'].sum().sort_values(ascending=False)
oct_1007_orhcd

NameError: name 'oct_1007' is not defined

In [14]:
hdong2.loc[oct_1007_orhcd.head().index,['주소']]

                              주소
origin_hdong_cd
1156054000        서울특별시 영등포구 여의동
4127357000       경기도 안산시 단원구 초지동
1117062500        서울특별시 용산구 한강로동
2635052000       부산광역시 해운대구 우제2동
4513069000          전라북도 군산시 수송동

In [15]:
del oct_1007

In [ ]:
oct_1014 = pd.read_csv('datas/od_20231001_15/od_20231014_1.csv')
oct_1014.head()

,origin_hdong_cd,dest_hdong_cd,date,start_time,end_time,gender,age,modal,origin_purpose,dest_purpose,od_dist_avg,od_duration_avg,od_cnts
0,2914074500,2914074000,20231014,21:00,21:00,0,0,4.0,3.0,4,718,2,15
1,4148058000,1135071000,20231014,17:00,18:00,0,0,0.0,5.0,0,59056,63,26
2,3114057000,3120052000,20231014,14:00,15:00,0,2,0.0,3.0,0,54279,48,7
3,2635051000,2635052000,20231014,08:00,08:00,0,4,0.0,5.0,5,14317,18,12
4,4137054000,4137056000,20231014,14:00,14:00,0,4,0.0,4.0,0,18423,21,7

In [ ]:
oct_1014_orhcd = oct_1014.groupby(['origin_hdong_cd'])['od_cnts'].sum().sort_values(ascending=False)

NameError: name 'oct_1014' is not defined

In [27]:
oct_1014_orhcd

origin_hdong_cd
4127357000    63095
2635052000    62676
1174066000    61808
1144066000    61686
4513069000    61473
              ...
4687038000       19
4681039000       17
2872033000        6
5178033000        5
4613036000        5
Name: od_cnts, Length: 3524, dtype: int64

In [29]:
pd.concat([hdong2.loc[oct_1014_orhcd.index,['주소']], oct_1014_orhcd],axis=1)

KeyError: '[4139065000] not in index'

In [20]:
del oct_1014

In [ ]:

sep_0923 = pd.read_csv('datas/od_20230921_30/od_20230923_1.csv')
sep_0923_orhcd = sep_0923.groupby(['origin_hdong_cd'])['od_cnts'].sum().sort_values(ascending=False)

                              주소
origin_hdong_cd
1144066000         서울특별시 마포구 서교동
2635052000       부산광역시 해운대구 우제2동
4513069000          전라북도 군산시 수송동
1174066000       서울특별시 강동구 성내제3동
1171056600         서울특별시 송파구 오륜동

In [23]:
hdong2.loc[sep_0923_orhcd.head(30).index,['주소']]

                                    주소
origin_hdong_cd
1144066000               서울특별시 마포구 서교동
2635052000             부산광역시 해운대구 우제2동
4513069000                전라북도 군산시 수송동
1174066000             서울특별시 강동구 성내제3동
1171056600               서울특별시 송파구 오륜동
4127357000             경기도 안산시 단원구 초지동
4833025300                경상남도 양산시 물금읍
3114057000                울산광역시 남구 삼산동
4111573000             경기도 수원시 팔달구 인계동
1147051000               서울특별시 양천구 목1동
2823751000              인천광역시 부평구 부평1동
2920063700               광주광역시 광산구 수완동
3017064000               대전광역시 서구 둔산2동
2635053000             부산광역시 해운대구 중제1동
4119074200                 경기도 부천시 신중동
1111061500       서울특별시 종로구 종로1.2.3.4가동
5011065000              제주특별자치도 제주시 연동
1171071000              서울특별시 송파구 잠실6동
4117361000             경기도 안양시 동안구 범계동
1174070000             서울특별시 강동구 둔촌제2동
4127353500             경기도 안산시 단원구 호수동
5011054000            제주특별자치도 제주시 이도2동
4825055000                경상남도 김해시 북부동
4812352000            경상남도 창원시 성산구 중앙동
4825054000                경상남도 김해시 내외동
1171068000              서울특별시 송파구 잠실3동
2820052100              인천광역시 남동구 구월3동
4423051000                충청남도 논산시 취암동
1156054000              서울특별시 영등포구 여의동
5011066000             제주특별자치도 제주시 노형동