In [2]:
import pandas as pd

### 메타데이터 - 행정동 제외한 나머지

In [18]:
wow = pd.read_excel('meta_data/2024_빅콘테스트_데이터분석분야_챔피언부문_데이터정의서(SKT).xlsx')
wow

,테이블정의서,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,파일명,NaN,od_20230901_1.csv ~ od_20231015_1.csv,NaN,NaN,NaN,NaN
1,테이블설명,NaN,2023.9.1~ 2023. 10.15 의 행정동간 OD 데이터,NaN,NaN,NaN,NaN
2,No.,컬럼ID,컬럼명,타입,NaN,비고,NaN
3,1,origin_hdong_cd,출발지 행정동코드,string,N,1130563500,*행정동코드는 별첨자료 참고
4,2,dest_hdong_cd,도착지 행정동코드,string,N,1130559500,NaN
5,3,date,날짜,string,N,20230901 (yyyyMMdd),NaN
6,4,start_time,출발 시각,string,N,08:00 ~ 23:00,NaN
7,5,end_time,도착 시각,string,N,08:00 ~ 23:00,NaN
8,6,gender,성별,int,N,"0: 남성, 1: 여성",NaN
9,7,age,나이대,int,N,"0, 1, 2, 3, 4, 5, 6, 7, 8 (0: 9세이하, 1: 10대, … ...",NaN
10,8,modal,주 이동수단,int,N,주 이동수단 코드 (하기 표 참고),NaN
11,9,origin_purpose,출발지 체류목적,int,N,출발지의 체류 목적 코드 (하기 표 참고),NaN
12,10,dest_purpose,도착지 체류목적,int,N,도착지의 체류 목적 코드 (하기 표 참고),NaN
13,11,od_dist_avg,평균 이동거리,int,N,평균 이동거리 (m),NaN
14,12,od_duration_avg,평균 이동시간,int,N,평균 이동시간 (min),NaN
15,13,od_cnts,이동 인원,int,N,사람수,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,주 이동수단코드,NaN,*주이동수단의 정의: 해당 이동에서 가장 긴 시간동안 이용한 교통수단,NaN,NaN,NaN,NaN
18,0,차량,*차량: 자가용 및 일부영업용차량 (택시) 및 화물차(택배) 등 포함됨,NaN,NaN,NaN,NaN
19,1,시내버스,NaN,NaN,NaN,NaN,NaN
20,2,지하철,NaN,NaN,NaN,NaN,NaN
21,3,도보,NaN,NaN,NaN,NaN,NaN
22,4,기타,NaN,NaN,NaN,NaN,NaN
23,5,철도,NaN,NaN,NaN,NaN,NaN
24,6,시외고속버스,NaN,NaN,NaN,NaN,NaN
25,7,항공기,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,체류목적코드,NaN,NaN,NaN,NaN,NaN,NaN
28,0,귀가,NaN,NaN,NaN,NaN,NaN
29,1,업무,NaN,NaN,NaN,NaN,NaN
30,2,학업,NaN,NaN,NaN,NaN,NaN
31,3,쇼핑여가,NaN,NaN,NaN,NaN,NaN
32,4,기타,NaN,NaN,NaN,NaN,NaN
33,5,여행,NaN,NaN,NaN,NaN,NaN

In [19]:
why = wow.iloc[28:, :2].reset_index(drop = True)
# why.set_index('테이블정의서', inplace=True)
why.columns = ['코드' ,'종류']
why = pd.concat([pd.DataFrame({'코드종류' : 'purpose'}, index=range(6)), why], axis=1)

why

      코드종류 코드    종류
0  purpose  0    귀가
1  purpose  1   업무
2  purpose  2    학업
3  purpose  3  쇼핑여가
4  purpose  4    기타
5  purpose  5    여행

In [20]:
modal = wow.iloc[18:26, :2].reset_index(drop=True)
# modal.set_index('테이블정의서', inplace=True)
modal.columns = ['코드', '종류']
modal = pd.concat([pd.DataFrame({'코드종류' : 'modal'}, index=range(len(modal))), modal], axis=1)
modal

    코드종류 코드      종류
0  modal  0      차량
1  modal  1    시내버스
2  modal  2     지하철
3  modal  3      도보
4  modal  4      기타
5  modal  5      철도
6  modal  6  시외고속버스
7  modal  7     항공기

In [21]:
gender = pd.DataFrame(
    [
        ['gender', 0, '남자'],
        ['gender', 1, '여자']
    ],
    columns = modal.columns
)

gender

     코드종류  코드  종류
0  gender   0  남자
1  gender   1  여자

In [22]:
age = pd.DataFrame(
    [
        ['age', i, f'{i*10} ~ {i*10 +9}세' if i < 8 else '80대 이상'] for i in range(9)
    ],
    columns=modal.columns
)

age

  코드종류  코드        종류
0  age   0    0 ~ 9세
1  age   1  10 ~ 19세
2  age   2  20 ~ 29세
3  age   3  30 ~ 39세
4  age   4  40 ~ 49세
5  age   5  50 ~ 59세
6  age   6  60 ~ 69세
7  age   7  70 ~ 79세
8  age   8    80대 이상

In [23]:
decoder = pd.concat([gender, age, modal, why])
decoder.to_csv('feature_scaled_data/decoder.csv', index=False)

### 메타데이터 - 행정동

In [22]:
hdong =  pd.read_csv('meta_data/KIKmix_20230701.csv')

In [23]:
hdong = hdong.drop_duplicates(['행정동코드'])
hdong = hdong.iloc[:, [0, 1, 2, 3]]
hdong['주소'] = hdong.iloc[:, 1:4].fillna('').aggregate(lambda x: ' '.join(x), axis=1)
hdong = hdong.set_index('행정동코드')

In [24]:
hdong

                시도명 시군구명   읍면동명               주소
행정동코드
1100000000    서울특별시  NaN    NaN          서울특별시
1111000000    서울특별시  종로구    NaN       서울특별시 종로구
1111051500    서울특별시  종로구  청운효자동  서울특별시 종로구 청운효자동
1111053000    서울특별시  종로구    사직동    서울특별시 종로구 사직동
1111054000    서울특별시  종로구    삼청동    서울특별시 종로구 삼청동
...             ...  ...    ...              ...
5183031000  강원특별자치도  양양군     서면   강원특별자치도 양양군 서면
5183032000  강원특별자치도  양양군    손양면  강원특별자치도 양양군 손양면
5183033000  강원특별자치도  양양군    현북면  강원특별자치도 양양군 현북면
5183034000  강원특별자치도  양양군    현남면  강원특별자치도 양양군 현남면
5183035000  강원특별자치도  양양군    강현면  강원특별자치도 양양군 강현면

[3883 rows x 4 columns]

In [29]:
hdong = hdong[~hdong['읍면동명'].isna()]

In [49]:
hdong = hdong[~hdong['읍면동명'].map(lambda x: x.endswith('출장소'))]

In [58]:
hdong

                시도명 시군구명   읍면동명               주소
행정동코드
1111051500    서울특별시  종로구  청운효자동  서울특별시 종로구 청운효자동
1111053000    서울특별시  종로구    사직동    서울특별시 종로구 사직동
1111054000    서울특별시  종로구    삼청동    서울특별시 종로구 삼청동
1111055000    서울특별시  종로구    부암동    서울특별시 종로구 부암동
1111056000    서울특별시  종로구    평창동    서울특별시 종로구 평창동
...             ...  ...    ...              ...
5183031000  강원특별자치도  양양군     서면   강원특별자치도 양양군 서면
5183032000  강원특별자치도  양양군    손양면  강원특별자치도 양양군 손양면
5183033000  강원특별자치도  양양군    현북면  강원특별자치도 양양군 현북면
5183034000  강원특별자치도  양양군    현남면  강원특별자치도 양양군 현남면
5183035000  강원특별자치도  양양군    강현면  강원특별자치도 양양군 강현면

[3528 rows x 4 columns]

In [59]:
hdong[hdong.시군구명 == '구로구']

              시도명 시군구명   읍면동명               주소
행정동코드
1153051000  서울특별시  구로구   신도림동   서울특별시 구로구 신도림동
1153052000  서울특별시  구로구  구로제1동  서울특별시 구로구 구로제1동
1153053000  서울특별시  구로구  구로제2동  서울특별시 구로구 구로제2동
1153054000  서울특별시  구로구  구로제3동  서울특별시 구로구 구로제3동
1153055000  서울특별시  구로구  구로제4동  서울특별시 구로구 구로제4동
1153056000  서울특별시  구로구  구로제5동  서울특별시 구로구 구로제5동
1153059500  서울특별시  구로구   가리봉동   서울특별시 구로구 가리봉동
1153072000  서울특별시  구로구  고척제1동  서울특별시 구로구 고척제1동
1153073000  서울특별시  구로구  고척제2동  서울특별시 구로구 고척제2동
1153074000  서울특별시  구로구  개봉제1동  서울특별시 구로구 개봉제1동
1153075000  서울특별시  구로구  개봉제2동  서울특별시 구로구 개봉제2동
1153076000  서울특별시  구로구  개봉제3동  서울특별시 구로구 개봉제3동
1153077000  서울특별시  구로구  오류제1동  서울특별시 구로구 오류제1동
1153078000  서울특별시  구로구  오류제2동  서울특별시 구로구 오류제2동
1153079000  서울특별시  구로구    수궁동    서울특별시 구로구 수궁동
1153080000  서울특별시  구로구     항동     서울특별시 구로구 항동

In [51]:
hdong.to_csv('feature_scaled_data/hdong.csv')
print('ok')

ok

In [ ]:
addre = hdong['주소']

In [ ]:
# Top10의 위도 경도 찾기
station_lat = [] # 주유소의 위도
station_lng = [] # 주유소의 경도

In [65]:
addre = addre.iloc[len(station_lat):]

In [66]:
len(addre)

243

In [67]:



import urllib.request
import json

client_id = 'd28v14usrq'
client_secret = 'xWgXVPpPLJI5fPMAmIHn4lPYOuVqTrzY0WyPImf1'

error_idx = []

for idx, name in enumerate(addre):
    print(name)
    encText = urllib.parse.quote(name)
    url = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=" + encText # json 결과
    request = urllib.request.Request(url)
    request.add_header("X-NCP-APIGW-API-KEY-ID",client_id)
    request.add_header("X-NCP-APIGW-API-KEY",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        entext = response_body.decode('utf-8')
    else:
        print("Error Code:" + rescode)

    data = json.loads(entext)
    try:
        lng = data['addresses'][0]['x']
        station_lng.append(lng)
        lat = data['addresses'][0]['y']
        station_lat.append(lat)
    except IndexError:
        print('error :', name)
        station_lng.append(-1)
        station_lat.append(-1)
        error_idx.append(idx)

경상남도 합천군 적중면
경상남도 합천군 대양면
경상남도 합천군 쌍백면
경상남도 합천군 삼가면
경상남도 합천군 가회면
경상남도 합천군 대병면
경상남도 합천군 용주면
제주특별자치도 제주시 한림읍
제주특별자치도 제주시 애월읍
제주특별자치도 제주시 구좌읍
제주특별자치도 제주시 조천읍
제주특별자치도 제주시 한경면
제주특별자치도 제주시 추자면
제주특별자치도 제주시 우도면
제주특별자치도 제주시 일도1동
제주특별자치도 제주시 일도2동
제주특별자치도 제주시 이도1동
제주특별자치도 제주시 이도2동
제주특별자치도 제주시 삼도1동
제주특별자치도 제주시 삼도2동
제주특별자치도 제주시 용담1동
제주특별자치도 제주시 용담2동
제주특별자치도 제주시 건입동
제주특별자치도 제주시 화북동
제주특별자치도 제주시 삼양동
제주특별자치도 제주시 봉개동
제주특별자치도 제주시 아라동
제주특별자치도 제주시 오라동
제주특별자치도 제주시 연동
제주특별자치도 제주시 노형동
제주특별자치도 제주시 외도동
제주특별자치도 제주시 이호동
제주특별자치도 제주시 도두동
제주특별자치도 서귀포시 대정읍
제주특별자치도 서귀포시 남원읍
제주특별자치도 서귀포시 성산읍
제주특별자치도 서귀포시 안덕면
제주특별자치도 서귀포시 표선면
제주특별자치도 서귀포시 송산동
제주특별자치도 서귀포시 정방동
제주특별자치도 서귀포시 중앙동
제주특별자치도 서귀포시 천지동
제주특별자치도 서귀포시 효돈동
제주특별자치도 서귀포시 영천동
제주특별자치도 서귀포시 동홍동
제주특별자치도 서귀포시 서홍동
제주특별자치도 서귀포시 대륜동
제주특별자치도 서귀포시 대천동
제주특별자치도 서귀포시 중문동
제주특별자치도 서귀포시 예래동
강원특별자치도 춘천시 신북읍
강원특별자치도 춘천시 동면
강원특별자치도 춘천시 동산면
강원특별자치도 춘천시 신동면
강원특별자치도 춘천시 남면
강원특별자치도 춘천시 서면
강원특별자치도 춘천시 사북면
강원특별자치도 춘천시 북산면
강원특별자치도 춘천시 동내면
강원특별자치도 춘천시 남산면
강원특별자치도 춘천시 교동
강원특별자치도 춘천시 조운동
강원특별자치도 춘천시 약사명동
강원특별자치도 춘천시 근화동
강원특별자치도 춘천시 소양동
강원특별자치도 춘천시 후평1동
강원특별자치도 춘천시 후평2동
강원특별자치도 춘천시 후평3동
강원특별자치도 춘천시 효자1동
강원특별자치도 춘천시 효자2동
강원특별자치도 춘천시 효자3동
강원특별자치도 춘천시 석사동
강원특별자치도 춘천시 퇴계동
강원특별자치도 춘천시 강남동
강원특별자치도 춘천시 신사우동
강원특별자치도 원주시 문막읍
강원특별자치도 원주시 소초면
강원특별자치도 원주시 호저면
강원특별자치도 원주시 지정면
강원특별자치도 원주시 부론면
강원특별자치도 원주시 귀래면
강원특별자치도 원주시 흥업면
강원특별자치도 원주시 판부면
강원특별자치도 원주시 신림면
강원특별자치도 원주시 중앙동
강원특별자치도 원주시 원인동
강원특별자치도 원주시 개운동
강원특별자치도 원주시 명륜1동
강원특별자치도 원주시 명륜2동
강원특별자치도 원주시 단구동
강원특별자치도 원주시 일산동
강원특별자치도 원주시 학성동
강원특별자치도 원주시 단계동
강원특별자치도 원주시 우산동
강원특별자치도 원주시 태장1동
강원특별자치도 원주시 태장2동
강원특별자치도 원주시 봉산동
강원특별자치도 원주시 행구동
강원특별자치도 원주시 무실동
강원특별자치도 원주시 반곡관설동
강원특별자치도 강릉시 주문진읍
강원특별자치도 강릉시 성산면
강원특별자치도 강릉시 왕산면
강원특별자치도 강릉시 구정면
강원특별자치도 강릉시 강동면
강원특별자치도 강릉시 옥계면
강원특별자치도 강릉시 사천면
강원특별자치도 강릉시 연곡면
강원특별자치도 강릉시 홍제동
강원특별자치도 강릉시 중앙동
강원특별자치도 강릉시 옥천동
강원특별자치도 강릉시 교1동
강원특별자치도 강릉시 교2동
강원특별자치도 강릉시 포남1동
강원특별자치도 강릉시 포남2동
강원특별자치도 강릉시 초당동
강원특별자치도 강릉시 송정동
강원특별자치도 강릉시 내곡동
강원특별자치도 강릉시 강남동
강원특별자치도 강릉시 성덕동
강원특별자치도 강릉시 경포동
강원특별자치도 동해시 천곡동
강원특별자치도 동해시 송정동
강원특별자치도 동해시 북삼동
강원특별자치도 동해시 부곡동
강원특별자치도 동해시 동호동
강원특별자치도 동해시 발한동
강원특별자치도 동해시 묵호동
강원특별자치도 동해시 북평동
강원특별자치도 동해시 망상동
강원특별자치도 동해시 삼화동
강원특별자치도 태백시 황지동
강원특별자치도 태백시 황연동
강원특별자치도 태백시 삼수동
강원특별자치도 태백시 상장동
강원특별자치도 태백시 문곡소도동
강원특별자치도 태백시 장성동
강원특별자치도 태백시 구문소동
강원특별자치도 태백시 철암동
강원특별자치도 속초시 영랑동
강원특별자치도 속초시 동명동
강원특별자치도 속초시 금호동
강원특별자치도 속초시 교동
강원특별자치도 속초시 노학동
강원특별자치도 속초시 조양동
강원특별자치도 속초시 청호동
강원특별자치도 속초시 대포동
강원특별자치도 삼척시 도계읍
강원특별자치도 삼척시 원덕읍
강원특별자치도 삼척시 근덕면
강원특별자치도 삼척시 하장면
강원특별자치도 삼척시 노곡면
강원특별자치도 삼척시 미로면
강원특별자치도 삼척시 가곡면
강원특별자치도 삼척시 신기면
강원특별자치도 삼척시 남양동
강원특별자치도 삼척시 교동
강원특별자치도 삼척시 정라동
강원특별자치도 삼척시 성내동
강원특별자치도 홍천군 홍천읍
강원특별자치도 홍천군 화촌면
강원특별자치도 홍천군 두촌면
강원특별자치도 홍천군 내촌면
강원특별자치도 홍천군 서석면
강원특별자치도 홍천군 영귀미면
강원특별자치도 홍천군 남면
강원특별자치도 홍천군 서면
강원특별자치도 홍천군 북방면
강원특별자치도 홍천군 내면
강원특별자치도 횡성군 횡성읍
강원특별자치도 횡성군 우천면
강원특별자치도 횡성군 안흥면
강원특별자치도 횡성군 둔내면
강원특별자치도 횡성군 갑천면
강원특별자치도 횡성군 청일면
강원특별자치도 횡성군 공근면
강원특별자치도 횡성군 서원면
강원특별자치도 횡성군 강림면
강원특별자치도 영월군 영월읍
강원특별자치도 영월군 상동읍
강원특별자치도 영월군 산솔면
강원특별자치도 영월군 김삿갓면
강원특별자치도 영월군 북면
강원특별자치도 영월군 남면
강원특별자치도 영월군 한반도면
강원특별자치도 영월군 주천면
강원특별자치도 영월군 무릉도원면
강원특별자치도 평창군 평창읍
강원특별자치도 평창군 미탄면
강원특별자치도 평창군 방림면
강원특별자치도 평창군 대화면
강원특별자치도 평창군 봉평면
강원특별자치도 평창군 용평면
강원특별자치도 평창군 진부면
강원특별자치도 평창군 대관령면
강원특별자치도 정선군 정선읍
강원특별자치도 정선군 고한읍
강원특별자치도 정선군 사북읍
강원특별자치도 정선군 신동읍
강원특별자치도 정선군 남면
강원특별자치도 정선군 북평면
강원특별자치도 정선군 임계면
강원특별자치도 정선군 화암면
강원특별자치도 정선군 여량면
강원특별자치도 철원군 철원읍
강원특별자치도 철원군 김화읍
강원특별자치도 철원군 갈말읍
강원특별자치도 철원군 동송읍
강원특별자치도 철원군 서면
강원특별자치도 철원군 근남면
강원특별자치도 철원군 근북면
강원특별자치도 철원군 근동면
강원특별자치도 철원군 원동면
강원특별자치도 철원군 원남면
강원특별자치도 철원군 임남면
강원특별자치도 화천군 화천읍
강원특별자치도 화천군 간동면
강원특별자치도 화천군 하남면
강원특별자치도 화천군 상서면
강원특별자치도 화천군 사내면
강원특별자치도 양구군 양구읍
강원특별자치도 양구군 국토정중앙면
강원특별자치도 양구군 동면
강원특별자치도 양구군 방산면
강원특별자치도 양구군 해안면
강원특별자치도 인제군 인제읍
강원특별자치도 인제군 남면
강원특별자치도 인제군 북면
강원특별자치도 인제군 기린면
강원특별자치도 인제군 서화면
강원특별자치도 인제군 상남면
강원특별자치도 고성군 간성읍
강원특별자치도 고성군 거진읍
강원특별자치도 고성군 현내면
강원특별자치도 고성군 죽왕면
강원특별자치도 고성군 토성면
강원특별자치도 고성군 수동면
강원특별자치도 양양군 양양읍
강원특별자치도 양양군 서면
강원특별자치도 양양군 손양면
강원특별자치도 양양군 현북면
강원특별자치도 양양군 현남면
강원특별자치도 양양군 강현면

In [70]:
lat_lng = pd.DataFrame({
    'lat' : station_lat,
    'lng' : station_lng
},
index = hdong.index[:len(station_lat)]
)

In [74]:
hdong2 =  pd.concat([hdong, lat_lng], axis=1)
hdong2.isna().sum()

시도명      0
시군구명    24
읍면동명     0
주소       0
lat      0
lng      0
dtype: int64

In [89]:
error = hdong2[hdong2['lat'] == -1]['주소']
error = pd.Series([
    '서울특별시 중랑구 면목3.8동', 
    '서울특별시 동작구 상도1동', 
    '광주광역시 북구 중흥동',
    '광주광역시 북구 중흥동', 
    '경기도 안양시 만안구 석수동',
    '경기도 안양시 동안구 관양동',
    '경기도 안양시 동안구 관양동',
    '경기도 부천시 역곡1동',
    '경기도 부천시 심곡본동',
    '경기도 부천시 범박동',
    '경기도 오산시 신장1동',
    '경기도 오산시 대원1동'
],
index=error.index
)
error

행정동코드
1126057500    서울특별시 중랑구 면목3.8동
1159053000      서울특별시 동작구 상도1동
2917052000        광주광역시 북구 중흥동
2917053000        광주광역시 북구 중흥동
4117161000     경기도 안양시 만안구 석수동
4117355000     경기도 안양시 동안구 관양동
4117356000     경기도 안양시 동안구 관양동
4119060600        경기도 부천시 역곡1동
4119074600        경기도 부천시 심곡본동
4119079500         경기도 부천시 범박동
4137054000        경기도 오산시 신장1동
4137057000        경기도 오산시 대원1동
dtype: object

In [87]:
# Top10의 위도 경도 찾기
station_lat = [] # 주유소의 위도
station_lng = [] # 주유소의 경도

client_id = 'd28v14usrq'
client_secret = 'xWgXVPpPLJI5fPMAmIHn4lPYOuVqTrzY0WyPImf1'

error_idx = []

for idx, name in enumerate(error):
    print(name)
    encText = urllib.parse.quote(name)
    url = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=" + encText # json 결과
    request = urllib.request.Request(url)
    request.add_header("X-NCP-APIGW-API-KEY-ID",client_id)
    request.add_header("X-NCP-APIGW-API-KEY",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        entext = response_body.decode('utf-8')
    else:
        print("Error Code:" + rescode)

    data = json.loads(entext)
    try:
        lng = data['addresses'][0]['x']
        station_lng.append(lng)
        lat = data['addresses'][0]['y']
        station_lat.append(lat)
    except IndexError:
        print('error :', name)
        station_lng.append(-1)
        station_lat.append(-1)
        error_idx.append(idx)

서울특별시 중랑구 면목3.8동
서울특별시 동작구 상도1동
광주광역시 북구 중흥동
광주광역시 북구 중흥동
경기도 안양시 만안구 석수동
경기도 안양시 동안구 관양동
경기도 안양시 동안구 관양동
경기도 부천시 역곡1동
경기도 부천시 심곡본동
경기도 부천시 범박동
경기도 오산시 신장1동
경기도 오산시 대원1동

In [104]:
error =  pd.DataFrame([error]).T

In [106]:
error['lat'] = station_lat
error['lng'] = station_lng

In [108]:
error.columns = ['주소', 'lat', 'lng']
error

                          주소        lat         lng
행정동코드
1126057500  서울특별시 중랑구 면목3.8동  37.582968   127.08806
1159053000    서울특별시 동작구 상도1동    37.5033    126.9499
2917052000      광주광역시 북구 중흥동  35.169154   126.91406
2917053000      광주광역시 북구 중흥동  35.169154   126.91406
4117161000   경기도 안양시 만안구 석수동  37.419684  126.910535
4117355000   경기도 안양시 동안구 관양동  37.406214  126.961402
4117356000   경기도 안양시 동안구 관양동  37.406214  126.961402
4119060600      경기도 부천시 역곡1동   37.48924  126.816765
4119074600      경기도 부천시 심곡본동  37.480739  126.780043
4119079500       경기도 부천시 범박동  37.470581  126.809723
4137054000      경기도 오산시 신장1동  37.176721   127.05472
4137057000      경기도 오산시 대원1동  37.138722   127.07176

In [109]:
for i in error.index:
    hdong2.loc[i,'주소'] = error.loc[i,'주소']
    hdong2.loc[i,'lat'] = error.loc[i,'lat']
    hdong2.loc[i,'lng'] = error.loc[i,'lng']

hdong2.loc[error.index, :]

              시도명     시군구명     읍면동명                주소        lat         lng
행정동코드
1126057500  서울특별시      중랑구  면목제3.8동  서울특별시 중랑구 면목3.8동  37.582968   127.08806
1159053000  서울특별시      동작구    상도제1동    서울특별시 동작구 상도1동    37.5033    126.9499
2917052000  광주광역시       북구     중흥2동      광주광역시 북구 중흥동  35.169154   126.91406
2917053000  광주광역시       북구     중흥3동      광주광역시 북구 중흥동  35.169154   126.91406
4117161000    경기도  안양시 만안구     석수3동   경기도 안양시 만안구 석수동  37.419684  126.910535
4117355000    경기도  안양시 동안구     관양1동   경기도 안양시 동안구 관양동  37.406214  126.961402
4117356000    경기도  안양시 동안구     관양2동   경기도 안양시 동안구 관양동  37.406214  126.961402
4119060600    경기도      부천시      부천동      경기도 부천시 역곡1동   37.48924  126.816765
4119074600    경기도      부천시      대산동      경기도 부천시 심곡본동  37.480739  126.780043
4119079500    경기도      부천시      범안동       경기도 부천시 범박동  37.470581  126.809723
4137054000    경기도      오산시      신장동      경기도 오산시 신장1동  37.176721   127.05472
4137057000    경기도      오산시      대원동      경기도 오산시 대원1동  37.138722   127.07176

In [110]:
hdong2.to_csv('feature_scaled_data/hdong_2.csv')
print('ok')

ok

In [61]:
len(station_lat)

3285

In [62]:
len(station_lng)

3285

In [ ]:
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371  # 지구의 반경 (단위: km)

    # 위도와 경도를 라디안으로 변환
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    # Haversine 공식
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))
    distance = R * c

    return distance

# 사용 예
lat1, lon1 = 37.5665, 126.9780  # 서울의 위도와 경도
lat2, lon2 = 35.6895, 139.6917  # 도쿄의 위도와 경도

distance = haversine_distance(lat1, lon1, lat2, lon2)
print(f"두 지점 사이의 거리: {distance:.2f} km")